#frame {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.tile {
  background-color: #242424;
  box-shadow: inset 0 0 2px #fff;
}

.tile.active {
  background-color: orange;
}

.board {
  display: flex;
  flex-wrap: wrap;
}

.invisible {
  display: none;
}

.taken {
  background-color: skyblue;
  box-shadow: inset 0 0 2px #fff;
}
