@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  font-family: "Press Start 2P", sans-serif;
  background: linear-gradient(135deg, #1a001a, #4b0082);
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.score-panel {
  padding: 0.75rem;
}

@media (max-width: 600px) {
  body {
    font-size: 12px;
  }

  .board {
    margin: 1rem auto;
  }

  .touch-controls {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    margin: 1rem auto;
  }

  .touch-controls button {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border: none;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-radius: 2rem;
  }

  .touch-controls button:active {
    background-color: #ffffffca;
    color: #000;
    scale: 0.9;
  }

  .touch-controls button:focus {
    outline: none;
  }
}

@media (min-width: 601px) {
  body {
    font-size: 16px;
  }

  #frame {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .board {
    justify-content: flex-start;
  }

  .touch-controls {
    display: none;
  }
}

#frame {
  min-height: 100dvh;
}

.tile {
  background-color: #242424;
  box-shadow: inset 0 0 2px #fff;
}

.tile.active {
  background-color: orange;
}

.board {
  display: flex;
  flex-wrap: wrap;
}

.invisible {
  display: none;
}

.taken {
  background-color: skyblue;
  box-shadow: inset 0 0 2px #fff;
}

.play-controls {
  padding: 1rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.play-controls button {
  padding: 0;
  margin: 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  border-radius: 1rem;
  color: #fff;
  transition: all 0.2s ease-in-out;
  height: 3rem;
  width: 3rem;
}

.play-controls button:active {
  background-color: #ffffffca;
  color: #000;
  scale: 0.9;
}
